/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: 'BDelicous';
    src: url('assets/fonts/beautifully_delicous.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

.main_font {
    font-family: 'BDelicous';
}

h1, h2, h3, h4, h5, p {
    font-family: 'BDelicous';
}

button {
    background: linear-gradient(to bottom, #a7d5f9, #6f71e4); /* Light blue gradient */
    border: none; /* Optional: remove default border */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Optional: rounded corners */
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), /* Inner highlight */
                0 4px 6px rgba(0, 0, 0, 0.1); /* Outer shadow for depth */
    color: #fff; /* Text color */
    font-size: 16px; /* Adjust font size as needed */
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'BDelicous';
    padding: 10px;
    display: block;
}

button:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8),
                0 6px 8px rgba(0, 0, 0, 0.15);
    opacity: 0.8;
}

button:disabled {
    background: linear-gradient(to bottom, #feffff, #cccccc); /* Light blue gradient */
    border: none; /* Optional: remove default border */
    padding: 10px 20px; /* Adjust padding as needed */
    border-radius: 5px; /* Optional: rounded corners */
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.6), /* Inner highlight */
                0 4px 6px rgba(0, 0, 0, 0.1); /* Outer shadow for depth */
    color: #666666; /* Text color */
    font-size: 16px; /* Adjust font size as needed */
    cursor: not-allowed;
    pointer-events: none; 
    transition: all 0.3s ease;
    font-family: 'BDelicous';
    padding: 10px;
    opacity: 0.6;
    display: block;
}

.center-contents {
    display: flex;               /* Enable Flexbox */
    justify-content: center;     /* Horizontal centering */
    align-items: center;         /* Vertical centering */
    height: 100%; 
}

.body-center {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;     /* Vertical centering */
    height: 100vh;           /* Full viewport height */
    margin: 0;
}

.child-container {
    display: block; /* or inline-block, as needed */
}

.fill-div {
    width: 100%;
    height: 100%;
    margin: 0; /* Remove any margins */
    padding: 0; /* Remove any padding */
    box-sizing: border-box; /* Include padding and border in the total size */
    display: flex;               /* Enable Flexbox */
    justify-content: center;     /* Horizontal centering */
    align-items: center;         /* Vertical centering */
}
